<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.mapper.StudentMapper">

	<insert id="addStudent" parameterType="student">
		<selectKey keyProperty="id" keyColumn="id" resultType="string"
			order="BEFORE">
			select replace(uuid(),'-','')
		</selectKey>
		insert into student(id, name) values(#{id},#{name});
		<if test="teachers.size()!=0">
			insert into teacher_student(tid, sid)
			values
			<foreach collection="teachers" item="teacher" separator=",">
				(#{teacher.id}, #{id})
			</foreach>
		</if>
	</insert>

	<delete id="deleteStudentById" parameterType="string">
		delete from student
		where id=#{id}
	</delete>
	
	<update id="updateStudent" parameterType="student">
		update student set
		name=#{name} where
		id=#{id}
	</update>

	<resultMap type="student" id="studentwithTeacher">
		<result property="id" column="s_id" />
		<result property="name" column="s_name" />
		<collection property="teachers" ofType="teacher">
			<result property="id" column="t_id" />
			<result property="name" column="t_name" />
		</collection>
	</resultMap>
	<select id="selectById" parameterType="string" resultMap="studentwithTeacher">
		select
		sr.id s_id,
		sr.name s_name,
		t.id t_id,
		t.name t_name 
		from 
		(select * from student s left join teacher_student ts on s.id=ts.sid ) sr 
		left join teacher t on t.id=sr.tid where sr.sid=#{id}
	</select>

</mapper>