<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties"/>
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>
	<typeAliases>
		<package name="com.beyond.demo.bean" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.beyond.demo.CustomEnumTypeHanlder" javaType="com.beyond.demo.bean.SexEnum"/>
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.beyond.demo.PageInterceptor"/>
	</plugins>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="com/beyond/demo/mapper" />
	</mappers>


</configuration>