<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.mapper.UserMapper">

	<insert id="addUser" parameterType="user">
		<selectKey keyProperty="id" keyColumn="id" resultType="string"
			order="BEFORE">
			select replace(uuid(),'-','')
		</selectKey>
		insert into user (id,
		username, password)
		values(#{id},#{username},#{password})
	</insert>
	<delete id="deleteUser" parameterType="string">
		delete from user where
		id=#{id}
	</delete>
	<update id="updateUser" parameterType="user">
		update user set
		username=#{username},password=#{password} where
		id=#{id}
	</update>

	<select id="selectById" parameterType="string" resultType="user">
		select * from User where id = #{id}
	</select>


	<select id="selectByExample" parameterType="user" resultType="user">
		select * from User
		<where>
			<if test="username!=null">
				and username = #{username}
			</if>
			<if test="password!=null">
				and password = #{password}
			</if>
		</where>
	</select>

	<select id="selectAll" resultType="user">
		select * from user
	</select>


</mapper>