<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="                                               
                http://www.springframework.org/schema/beans    
                http://www.springframework.org/schema/beans/spring-beans.xsd    
                http://www.springframework.org/schema/context     
                http://www.springframework.org/schema/context/spring-context.xsd    
                http://www.springframework.org/schema/mvc    
                http://www.springframework.org/schema/mvc/spring-mvc.xsd  
                http://www.springframework.org/schema/tx   
                http://www.springframework.org/schema/tx/spring-tx.xsd  
                http://www.springframework.org/schema/aop  
                http://www.springframework.org/schema/aop/spring-aop.xsd "
	default-autowire="byName">


	<bean id="myBook" class="com.beyond.demo1.entity.Book">
		<property name="id" value="3r3rfedfa"></property>
		<property name="name" value="think in java"></property>
		<property name="price" value="48495"></property>
	</bean>

	<!-- 静态工厂bean -->
	<bean id="myBookFactoryStatic" class="com.beyond.demo1.entity.BookFactoryStatic"
		factory-method="getInstance"></bean>

	<!-- 实例工厂bean -->
	<bean id="myBookFactoryInstance" class="com.beyond.demo1.entity.BookFactoryInstance"></bean>
	<bean id="myBook8" factory-bean="myBookFactoryInstance"
		factory-method="getInstance" />

	<!-- 标准工厂bean -->
	<bean id="myBook9" class="com.beyond.demo1.entity.BookFactoryStandard"></bean>

	<bean id="myBook2" class="com.beyond.demo1.entity.Book"></bean>
	<bean id="myBook3" class="com.beyond.demo1.entity.Book" scope="prototype"></bean>
	<bean id="myBook4" class="com.beyond.demo1.entity.Book"
		init-method="init" destroy-method="destroy"></bean>
	<bean id="myCustomer5" class="com.beyond.demo1.entity.Customer">
		<property name="book" ref="myBook"></property>
	</bean>

	<bean class="com.beyond.demo1.entity.MyBeanPostProcessor"></bean>


	<!-- 构造方法注入 -->
	<bean id="myBook10" class="com.beyond.demo1.entity.Book">
		<constructor-arg index="0" type="String" value="gogog"></constructor-arg>
		<constructor-arg index="1" type="String" value="ffe"></constructor-arg>
		<constructor-arg index="2" type="Double" value="234"></constructor-arg>
	</bean>

	<!-- p命名空间注入值 -->
	<bean id="myBook11" class="com.beyond.demo1.entity.Book" p:id="ge"
		p:name="name" p:price="49994"></bean>
	<!-- 集合注入 -->
	<bean id="myCollectionTest" class="com.beyond.demo1.entity.CollectionTest">
		<property name="list">
			<list>
				<value>feage</value>
				<value>cfea</value>
			</list>
		</property>
	</bean>


<!-- 注解方式 -->
<context:component-scan base-package="com.beyond.demo2.entity"></context:component-scan>


</beans>  