<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- 四大属性 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_database</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">beyondlov1</property>

		<!-- 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>

		<!-- 绑定线程 -->
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping resource="demo1/entity/Userinfo.hbm.xml" />
	</session-factory>
</hibernate-configuration>